/* google font */
@import url(@import url;('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
/* nav and banner start */
.header{
	min-height: 100vh;
	width: 100%;
	background-image:url(../img/estatebg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	text-decoration-color: white;
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content: " ";
	width: 0px;
	height:2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}